/*------------------------------------------------------------
- Typography
------------------------------------------------------------*/

h1 {
    font-size: em(65);
    line-height: 1;
    @include breakpoint(x-large) {
        font-size: em(52);
    }
}

h2 {
    font-size: em(53);
    @include breakpoint(x-large) {
        font-size: em(45);
    }
}

h3 {
    font-size: em(35);
    @include breakpoint(x-large) {
        font-size: em(28);
    }
}

h4 {
    font-size: em(24);
    @include breakpoint(x-large) {
        font-size: em(21);
    }
}

h5 {
    font-size: em(20);
    font-weight: $font-weight-regular;
    @include breakpoint(x-large) {
		font-size: em(18);
	}
}

h6 {
    font-size: em(16);
}

p {
    font-family: $sans-serif;
    font-weight: $font-weight-regular;
    font-size: em(15);
    color: #585b5c;
    line-height: 2;
    margin-bottom: 1em;
}

cite {
    font-style: normal;
}

span {
    font-family: $sans-serif;
    font-weight: $font-weight-regular;
    font-size: em(16);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    white-space: normal;
}

h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a {
    font-family: $sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption,
    {
    word-break: break-word;
    word-wrap: break-word;
} 

/*---------- Links ----------*/

a {
    transition: all 0.5s ease-in-out 0s;
    font-family: $sans-serif;
    font-weight: $font-weight-regular;
}

a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;    
}

/*---------- Table -----------*/

table,
th,
td {
    border: 1px solid #eaeaea;
}

table {
    width: 100%;
}

th,
td {
    padding: 0.4375em;
}

table,
dd,
address {
    margin: 0 0 1.75em;
}