<section class="banner-wrapper" style="background-image: url('assets/images/banner.jpg');">
    <video autoplay loop >
        <source src="assets/images/banner2.mp4" type="video/mp4">
      </video>
    <div class="container">
        <div class="banner-content">
            <div class="top-title">
                <h4>Passionate and Creative</h4>
            </div>
            <div class="title">
                <h2>Customized and Interactive<strong>Mobile & Web Solutions</strong></h2>
            </div>
            <div class="getintouch">
                <a href="#">Get In Touch</a>
            </div>
        </div>
        <!-- <figure class="bar-icon">
            <img src="assets/images/bar-icon.png" alt="featured-thumb" />
        </figure> -->
    </div>
    <!-- container -->

</section>
<!-- banner-wrapper -->
<div class="main">
    <section class="about-us-wrap section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft" data-wow-duration="2s">
                    <div class="left_sec" style="background-image: url(assets/images/about-bg.png);">
                       <div class="content-sec">
                            <h3>Hello. We are Imark<br>Creative & Interactive Company<br>Make creative projects</h3>
                            <figure>
                                <img src="assets/images/about-icon.png" alt="icon" />
                            </figure>
                       </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="2s">
                    <div class="right_sec">
                        <p>At gretna. we are focused on enhancing the value of your business through our innovative and economic mobile app and website design solutions. We offer solutions that give you a competitive edge in the online market and a stronger brand image. We make sure to abide by your needs and always deliver a little more than your expectations.</p>
                        <cite>Come, let’s show you the first step to make your business add-up!</cite>
                        <div class="signature">
                            <figure>
                                <img src="assets/images/sign.png" alt="signature" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- about-us-wrap -->
    <section class="our-services-wrap section wow fadeIn" data-wow-duration="1s">
        <div class="container">
            <div class="title-sec">
                <div class="top-title">
                    <small>OUR SERVICES</small>
                </div>
                <div class="title">
                    <h3>Discover Services We’r Provided</h3>
                </div>
            </div>
            <!-- title-sec -->
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInLeft" data-wow-duration="2s">
                    <div class="service_grid">
                        <figure>
                            <a href="service-single.html">
                                <img src="assets/images/service1.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="service-single.html">Web Development</a>
                        </h5>
                        <p>Sophisticated, customer-focused applications for smartphones, tablets, wearables – and whatever’s next</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-duration="2s">
                    <div class="service_grid">
                        <figure>
                            <a href="service-single.html">
                                <img src="assets/images/service2.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="service-single.html">Mobile Development</a>
                        </h5>
                        <p>We thoroughly understand your business cycle to engage your viewers with our captivating iOS and Android app solutions.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInRight" data-wow-duration="2s">
                    <div class="service_grid">
                        <figure>
                            <a href="service-single.html">
                                <img src="assets/images/service3.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="service-single.html">App Prototyping</a>
                        </h5>
                        <p>We design functional web and mobile app wireframes and prototypes to envision and forge your ideas.</p>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="getintouch wow fadeInUp" data-wow-duration="2s">
                <a href="#" class="theme-btn">Get In Touch</a>
            </div>
            <!-- getintouch -->
        </div>
        <!-- container -->
    </section>
    <!-- our-services-wrap -->
    <section class="wemakeite-wrap section wow fadeIn" data-wow-duration="1s" style="background-image: url(assets/images/wemakeit.jpg)">
        <div class="container">
            <div class="figure-sec">
                <img src="assets/images/computer.png" alt="featured-thumb" class="wow slideInRight" data-wow-duration="2s" />
            </div>
            <div class="content-sec">
                <div class="title-sec">
                    <small>WE MAKE IT</small>
                    <h3>We’re Gretna Company<br>Creative & Interactive</h3>
                    <p>Use of creativity by agencies is “unexpected” because so much ad- <br> vertising today is expected. This will capture attention of audiences, <br>therefore the message is likely to get through.</p>
                </div>
                <!-- title-sec -->
                <div class="our-solution-bar">
                    <ul class="list-inline bottom-icon-section">
                        <li>
                            <div class="border-sec">
                                <div id="progress" data-dimension="150" data-text="97%" data-fontsize="22" data-percent="97" data-fgcolor="#ff6a1e" data-bgcolor="#e7e7e7" data-width="2" data-bordersize="2" data-animationstep="2"></div>
                            </div>
                            <p>Web Development</p>
                        </li>
                        <li>
                            <div class="border-sec">
                                <div id="progress1" data-dimension="150" data-text="85%" data-fontsize="22" data-percent="85" data-fgcolor="#ff6a1e" data-bgcolor="#e7e7e7" data-width="2" data-bordersize="2" data-animationstep="2"></div>
                            </div>
                            <p>Mobile Development</p>
                        </li>
                        <li>
                            <div class="border-sec">
                                <div id="progress2" data-dimension="150" data-text="90%" data-fontsize="22" data-percent="90" data-fgcolor="#ff6a1e" data-bgcolor="#e7e7e7" data-width="2" data-bordersize="2" data-animationstep="2"></div>
                            </div>
                            <p>App Prototyping</p>
                        </li>
                    </ul>
                </div><!-- our-solution-bar -->
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- wemakeit-wrap -->
    <section class="blog-wrap section wow fadeIn" data-wow-duration="1s">
        <div class="container">
            <div class="title-sec">
                <div class="top-title">
                    <small>LATEST ARTICLES</small>
                </div>
                <div class="title">
                    <h3>Blog</h3>
                </div>
                <div class="content">
                    <p >Digital never sleeps and this list is not exhaustive. We’re shaping industry trends and expanding our offering all the time. Our commercial focus is acquisition, engagement and conversion.</p>
                </div>
            </div>
            <!-- title-sec -->
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInleft" data-wow-duration="2s">
                    <div class="grid-item">
                        <div class="featured_thumb">
                            <figure style="background-image: url(assets/images/grid1.jpg)">
                                <a href="blog-single.html"></a>
                            </figure>
                            <div class="date-sec">
                                <small>News</small>
                            </div>
                        </div>
                        <h4>
                            <a href="blog-single.html">AdChoices program reports higher compliance</a>
                        </h4>
                        <div class="meta-info">
                            <ul>
                                <li>
                                    <svg x="0px" y="0px" viewBox="0 0 97.441 92.801">
                                        <use xlink:href="#userIcon"></use>
                                    </svg>
                                    <span>By</span>
                                    <a href="#">Simpleb</a>
                                </li>
                                <li>
                                    <svg x="0px" y="0px" viewBox="0 0 32 32">
                                        <use xlink:href="#calenderIcon"></use>
                                    </svg>
                                    <span>March 11, 2019</span>
                                </li>
                                <li>
                                    <svg x="0px" y="0px" viewBox="0 0 511.626 511.626">
                                        <use xlink:href="#commentsIcon"></use>
                                    </svg>
                                    <a href="#">2 Comments</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-duration="2s">
                    <div class="grid-item">
                        <div class="featured_thumb">
                            <figure style="background-image: url(assets/images/grid2.jpg)">
                                <a href="blog-single.html"></a>
                            </figure>
                            <div class="date-sec">
                                <small>News</small>
                            </div>
                        </div>
                        <h4>
                            <a href="blog-single.html">AdChoices program reports higher compliance</a>
                        </h4>
                        <div class="meta-info">
                            <ul>
                                <li>
                                    <svg x="0px" y="0px" viewBox="0 0 97.441 92.801">
                                        <use xlink:href="#userIcon"></use>
                                    </svg>
                                    <span>By</span>
                                    <a href="#">Simpleb</a>
                                </li>
                                <li>
                                    <svg x="0px" y="0px" viewBox="0 0 32 32">
                                        <use xlink:href="#calenderIcon"></use>
                                    </svg>
                                    <span>March 11, 2019</span>
                                </li>
                                <li>
                                    <svg x="0px" y="0px" viewBox="0 0 511.626 511.626">
                                        <use xlink:href="#commentsIcon"></use>
                                    </svg>
                                    <a href="#">2 Comments</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInRight" data-wow-duration="2s">
                    <div class="grid-item">
                        <div class="featured_thumb">
                            <figure style="background-image: url(assets/images/grid3.jpg)">
                                <a href="blog-single.html"></a>
                            </figure>
                            <div class="date-sec">
                                <small>News</small>
                            </div>
                        </div>
                        <h4>
                            <a href="blog-single.html">AdChoices program reports higher compliance</a>
                        </h4>
                        <div class="meta-info">
                            <ul>
                                <li>
                                    <svg x="0px" y="0px" viewBox="0 0 97.441 92.801">
                                        <use xlink:href="#userIcon"></use>
                                    </svg>
                                    <span>By</span>
                                    <a href="#">Simpleb</a>
                                </li>
                                <li>
                                    <svg x="0px" y="0px" viewBox="0 0 32 32">
                                        <use xlink:href="#calenderIcon"></use>
                                    </svg>
                                    <span>March 11, 2019</span>
                                </li>
                                <li>
                                    <svg x="0px" y="0px" viewBox="0 0 511.626 511.626">
                                        <use xlink:href="#commentsIcon"></use>
                                    </svg>
                                    <a href="#">2 Comments</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- blog-wrap -->
    <section class="portfolio-wrap section wow fadeIn" data-wow-duration="1s">
        <div class="container">
            <div class="title-sec">
                <div class="top-title">
                    <small>OUR WORKS</small>
                </div>
                <div class="title">
                    <h3>Portfolio</h3>
                </div>
                <div class="content">
                    <p >Digital never sleeps and this list is not exhaustive. We’re shaping industry trends and expanding our offering all the time. Our commercial focus is acquisition, engagement and conversion.</p>
                </div>
            </div>
            <!-- title-sec -->
            <ul class="portfolio-list wow lightSpeedIn" data-wow-duration="1s">
                <li>
                    <a href="javascript:void(0)" class="filter-button active" data-filter="all">All</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="website">Website</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="app">App</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="productdesign">Product Design</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="logo">Logo</a>
                </li>
            </ul>
            <div class="row wow slideInUp" data-wow-duration="2s">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter website">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio1.png);">
                        <div class="content-sec">
                            <small>Website</small>
                            <h4>
                                <a href="portfolio-single.html">Xenia</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter app">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio2.png);">
                        <div class="content-sec">
                            <small>Logo</small>
                            <h4>
                                <a href="portfolio-single.html">Vista Print</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter website">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio3.png);">
                        <div class="content-sec">
                            <small>App Design</small>
                            <h4>
                                <a href="portfolio-single.html">Book WeGo</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter productdesign">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio4.png);">
                        <div class="content-sec">
                            <small>Website</small>
                            <h4>
                                <a href="portfolio-single.html">Super<br>Fly Honey</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter logo">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio5.png);">
                        <div class="content-sec">
                            <small>App Design</small>
                            <h4>
                                <a href="portfolio-single.html">Nataliamav</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter app">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio6.png);">
                        <div class="content-sec">
                            <small>Website</small>
                            <h4>
                                <a href="portfolio-single.html">Xenia</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- portfolio-wrap -->
</div>
<!-- main -->