<section class="inner-banner-wrapper" style="background-image: url('assets/images/inner-banner.jpg');">
    <div class="container">
        <div class="banner-content">
            <h2>Contact Us</h2>
        </div>
    </div>
    <!-- container -->
</section>
<!--inner- banner-wrapper -->
<div class="main">
    <section class="contactus-wrap" style="background-image: url('assets/images/contactus-bg.jpg');">
        <div class="address-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-12 address_grid">
                        <div class="icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <address>Lorem ipsume dummy <br>
                            1120 Georgetown.</address>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12 address_grid">
                        <div class="icon">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                        </div>
                        <a href="tel:9143581782">(914) 358-1782</a>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12 address_grid">
                        <div class="icon">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <a href="mailto:loremipsume@ipsume.com">loremipsume@ipsume.com</a>
                    </div>
                </div>
            </div>
            <!-- container -->
        </div>
        <!-- address-block -->
        <div class="contact-us section">
            <div class="container">
                <div class="title-sec">
                    <div class="container">
                        <div class="title">
                            <h3>Contact Us</h3>
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <!-- container -->
                </div>
                <!-- title-sec -->
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <input class="firstCap form-control" type="text" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Your E-mail">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" type="text" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <button type="submit" value="submit">Send message</button>
                    </div>
                </form>
            </div>
            <!-- container -->
        </div>
        <!-- contact-us -->
        <div class="map-section">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2976.153625134456!2d-88.26149668426494!3d41.76034548075353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880efa1199df6109%3A0x8a1293b2ae8e0497!2sE+New+York+St%2C+Aurora%2C+IL%2C+USA!5e0!3m2!1sen!2sin!4v1540792254947" width="600" height="450" style="border:0" allowfullscreen></iframe>
        </div>  
        <!-- map-section -->
    </section>
    <!-- contactus-wrap -->
</div>
<!-- main -->