<section class="inner-banner-wrapper" style="background-image: url('assets/images/inner-banner.jpg');">
    <div class="container">
        <div class="banner-content">
            <h2>Portfolio</h2>
        </div>
    </div>
    <!-- container -->
</section>
<!--inner- banner-wrapper -->
<div class="main">
    <section class="portfolio-wrap section">
        <div class="container">
            <div class="title-sec heading">
                <div class="top-title">
                    <small>OUR Works</small>
                </div>
                <div class="title">
                    <h3>Portfolio</h3>
                </div>
                <div class="content">
                    <p >Digital never sleeps and this list is not exhaustive. We’re shaping industry trends and expanding our offering all the time. Our commercial focus is acquisition, engagement and conversion.</p>
                </div>
            </div>
            <!-- title-sec -->
            <ul class="portfolio-list">
                <li>
                    <a href="javascript:void(0)" class="filter-button active" data-filter="all">All</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="website">Website</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="app">App</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="productdesign">Product Design</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="logo">Logo</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter website">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio1.png);">
                        <div class="content-sec">
                            <small>Website</small>
                            <h4>
                                <a href="/portfoliosingle">Oenia</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter app">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio2.png);">
                        <div class="content-sec">
                            <small>Logo</small>
                            <h4>
                                <a href="portfoliosingle">Lock Print</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter website">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio3.png);">
                        <div class="content-sec">
                            <small>App Design</small>
                            <h4>
                                <a href="portfoliosingle">Booking Go</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter productdesign">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio4.png);">
                        <div class="content-sec">
                            <small>Website</small>
                            <h4>
                                <a href="portfoliosingle">Fashion <br> Network</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter logo">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio5.png);">
                        <div class="content-sec">
                            <small>App Design</small>
                            <h4>
                                <a href="portfoliosingle">Aunited</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter app">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio6.png);">
                        <div class="content-sec">
                            <small>Website</small>
                            <h4>
                                <a href="portfoliosingle">Sports</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- portfolio-wrap -->
</div>
<!-- main -->