/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

.banner-wrapper {
  @include bg-cover(top center, cover);
  height: 863px;
  padding-top: 105px;
  position: relative;
  overflow: hidden;

  @include breakpoint(x-large) {
    height: 650px;
  }

  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
    z-index: 1;
    margin:  auto;
  }

  &:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 43, 64, 0.77);
    z-index: 5;
  }

  .container {
    position: relative;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content:center;

    .bar-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    .banner-content {
      position: relative;
      text-align: center;

      h4 {
        font-weight: $font-weight-light;
        display: block;
        color: $color-white;
        margin-bottom: 25px;
      }

      h2 {
        font-size: em(50);
        font-weight: $font-weight-regular;
        color: $color-white;
        line-height: 1.4;
        margin-bottom: 40px;

        strong {
          display: block;
          letter-spacing: 0.04em;
        }
      }

      .getintouch {
        a {
          color: $color-white;
          font-size: em(20);
          background: $color-primary;
          line-height: 3.2em;
          display: inline-block;
          border: 1px solid $color-primary;
          border-radius: 40px;
          font-weight: $font-weight-medium;
          text-transform: uppercase;
          padding: 0 40px;
          word-spacing: 0.01em;

          @include breakpoint(x-large) {
            font-size: em(17);
          }

          &:hover {
            background: $color-secondary;
            border-color: $color-secondary;
          }
        }
      }
    }
  }
}

/*----- Inner Banner Section -----*/

.inner-banner-wrapper {
  height: 533px;
  @include bg-cover(cover, center);
  padding-top: 105px;

  @include breakpoint(x-large) {
    height: 300px;
  }

  .container {
    position: relative;
    height: 100%;

    .banner-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      left: 0;
      right: 0;

      h2 {
        font-size: em(50);
        font-weight: $font-weight-regular;
        text-transform: capitalize;
        color: $color-white;
        letter-spacing: 0.04em;
        margin-bottom: 0px;

        @include breakpoint(x-large) {
          font-size: em(40);
        }
      }
    }
  }
}
