/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    position: relative;
    overflow-x: hidden;
    .footer-top {
        background: $color-light-black;
        .chat-sec {
            position: fixed;
            right: 30px;
            bottom: 100px;
            z-index: 99;
            transition: all 0.3s ease-in-out 0s;
            a {
                display: inline-block;
            }
            &:hover {
                transform: translateY(-6px);
            }
        }
        .container {
            display: flex;
            justify-content: space-between;
        }
        .footer-sec {
            position: relative;
            padding: 60px 0px;
            &:after {
                content: "";
                background: #455a71;
                height: 100%;
                width: 1px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            h4 {
                color: #cbd1d8;
                font-family: $sans-serif;
                font-weight: $font-weight-medium;
                text-transform: uppercase;
                margin-bottom: 25px;
                font-size: em(20);
                letter-spacing: 0.05em;
            }
            &.column-1 {
                width: 470px;
                padding-right: 60px;
                @include breakpoint(x-large) {
                    padding-right: 30px;
                }
                .footer-logo {
                    margin-bottom: 20px;
                    a {
                        display: inline-block;
                        max-width: 210px;
                    }
                }
                .footer-content {
                    p {
                        color: #cbd1d8;
                        margin-bottom: 0px;
                    }
                }
            }
            &.column-2 {
                width: 220px;
                padding-right: 20px;
                padding-left: 40px;
                @include breakpoint(x-large) {
                    padding-left: 30px;
                }
                ul {
                    margin-bottom: 0px;
                    li {
                        list-style: none;
                        display: inline-block;
                        min-width: 49%;
                        margin-bottom: 10px;
                        a {
                            color: #cbd1d8;
                            font-size: em(16);
                            font-family: $sans-serif;
                            font-weight: $font-weight-light;
                            &:hover {
                                color: $color-primary;
                            }
                            @include breakpoint(x-normal) {
                               font-size: 14px;
                            }
                        }
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
            &.column-3 {
                width: 350px;
                padding-left: 30px;
                padding-right: 30px;
                @include breakpoint(x-large) {
                    padding-right: 30px;
                    padding-left: 30px;
                }
                li {
                    list-style: none;
                    position: relative;
                    margin-bottom: 15px;
                    padding-left: 35px;
                    figure {
                        position: absolute;
                        left: 0;
                        margin-bottom: 0px;
                        fill: #a1a1a1;
                        text-align: center;
                        i {
                            font-size: em(20);
                            color: #a7b8ca;
                        }
                    }    
                    a, address {
                        font-size: em(16);
                        color: #cbd1d8;
                        font-family: $sans-serif;
                        font-weight: $font-weight-light;
                        margin-bottom: 0px;
                        @include breakpoint(x-normal) {
                           font-size: 14px;
                        }
                    }
                    a {
                        &:hover {
                            color: $color-primary;
                        }
                    }
                    &:first-child,
                    &:last-child {
                        figure {
                            margin-left: 3px;
                        }
                    }
                    &:last-child {
                        figure {
                           i {
                               font-size: em(25);
                           }
                        }
                    }
                    &:nth-child(2) {
                        figure {
                            margin-top: -2px;
                            i {
                                font-size: em(16);
                            }
                        }
                    }
                } 
            }
            &.column-4 {
                width: 329px;
                padding-left: 30px;
                @include breakpoint(x-normal) {
                    padding-left: 20px;
                }
                .social-share {
                    ul {
                        margin-bottom: 0px;
                        li {
                            list-style: none;
                            position: relative;
                            padding-left: 75px;
                            margin-bottom: 30px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            figure {
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                margin-bottom: 0px;
                                border-radius: 100%;
                                height: 60px;
                                width: 60px;
                                @include bg-cover(cover, center);
                            }
                            h5 {
                                font-size: em(15);
                                margin-bottom: 0px;
                                a {
                                    color: #cbd1d8;
                                    line-height: 1.8em;
                                    &:hover {
                                        color: $color-primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        padding: 20px 0px;
        background: $color-dark-black;
        text-align: center;
        span {
            color: #8398ae;
            font-size: em(17);
            display: block;
            letter-spacing: 0.05em;
            @include breakpoint(x-normal) {
                font-size: em(15);
            }
            a {
                color: #318ed5;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}