/*------------------------------------------------------------
- Header
------------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    .navbar {
        padding: 10px 0;
        .navbar-header{
            display: inline-block;
            padding-top: 6px;
        }
        .navbar-brand {
            img {
                max-width: 100%;
                & + img{
                    display: none;
                }
                @include breakpoint(x-large) {
                    max-width: 80%;
                 }
            }

        }
        .navbar-nav {
            > li {
                margin: 0 25px;
                @include breakpoint(x-large) {
                   margin: 0 12px;
                }
                > a {
                    color: $color-white;
                    font-family: $sans-serif;
                    font-weight: $font-weight-medium;
                    font-size: em(16);
                    transition: all 0.1s ease-in-out;
                    display: inline-block;
                    letter-spacing: 0.05em;
                    position: relative;
                    padding: 0;
                    text-transform: uppercase;
                    @include breakpoint(x-large) {
                        font-size: em(14);
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        right: 0;
                        height: 2px;
                        background: $color-primary;
                        transform: scaleX(0);
                        display: block;
                        transform-origin: 50% 50%;
                        transition: transform 0.2s ease-out;
                    }
                }
                &.dropdown {
                    .dropdown-menu {
                        border-radius: 0px;
                        padding: 0;
                        border: none;
                        display: block;
                        opacity: 0;
                        pointer-events: none;
                        margin-top: 0;
                        background: transparent;
                        left: auto;
                        right: 0;
                        min-width: 220px;
                        @include transition;
                        li {
                            border: 1px solid #e0e0e0;
                            border-bottom: none;
                            a {
                                background: #fff;
                                padding: 8px 15px;
                                // border-bottom: 2px solid $color-primary;
                                font-size: em(14);
                                &:hover {
                                    background: $color-primary;
                                    color: $color-white;
                                }

                            }
                            &:last-child {
                                border-bottom: 1px solid #e0e0e0;
                            }
                        }

                    }
                    &:hover{
                        .dropdown-menu {
                            opacity: 1;
                            pointer-events: auto;
                            padding: 16px 0 0;
                        }
                    }
                }
            }
            .nav-link {
                padding: 0px !important;
            }
        }
        .navbar-collapse {
            flex-direction: column;
            padding: 0;
        }
        .navbar-brand {
            padding: 0;
            height: auto;
        }
    }
    .nav-top-sec {
        width: 100%;
        text-align: right;
        margin-bottom: 30px;
        padding: 0;
        > li {
            display: inline-block;
            position: relative;
            // border-right: 1px solid $color-white;
            &:after {
                display: inline-block;
                height: 15px;
                width: 1px;
                content: "";
                background: $color-white;
                margin: 0 22px;
            }
            &:first-child {
                padding-left: 25px;
            }
            &:last-child {
                margin-right: 0px;
                &:after {
                    display: none;
                }
            }
            figure {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-bottom: 0px;
                i {
                    color: $color-primary;
                }
            }
            a {
                color: $color-white;
                font-size: em(15);
                font-weight: $font-weight-light;
                letter-spacing: 0.05em;
                &:hover {
                    color: $color-primary;
                }
            }
            .dropdown {
                display: inline-block;
                .dropdown-toggle {
                    background: none;
                    border: none;
                    padding: 0px;
                    font-size: em(17);
                    line-height: inherit;
                    min-width: auto;
                    color: $color-primary;
                    &:after {
                        color: $color-white;
                    }
                }
                .dropdown-menu {
                    margin: 0px;
                    padding: 0px;
                    border-radius: 0px;
                    left: auto;
                    right: 0;
                    li {
                        display: block;
                        padding: 0px;
                        border-bottom: 1px solid $color-primary;
                        a {
                            color: $color-black;
                            padding: 7px 10px;
                            display: block;
                            font-size: em(14);
                        }
                        &:hover {
                            a {
                                background: $color-primary;
                                color: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .quote-btn {
            margin-left: 20px;
            a {
                display: inline-block;
                font-size: em(15);
                font-weight: $font-weight-regular;
                background: $color-secondary;
                letter-spacing: 0.03em;
                color: $color-white;
                padding: 0 22px;
                line-height: 2.7em;
                border-radius: 50px;
                text-transform: uppercase;
                &:hover {
                    background: $color-primary;
                }
            }
        }
    }
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar .navbar-nav > li > a.active-link,
.navbar .navbar-nav >li >a:focus,
.navbar .navbar-nav >li >a:hover {
    color: $color-primary;
    transition: all 0.5s ease-in-out 0s;
}

.navbar .navbar-nav > li > a.active-link::after,
.navbar .navbar-nav >li > a.active-link:hover:after {
    transform: scaleX(1);
}

/*----- Sticky Header -----*/

header.fixed-header {
    background: rgba(0, 0, 0, 0.8);
    .nav-top-sec {
        display: none;
    }
    .navbar {
        padding: 10px 0px;
    }
    .navbar-brand {
        max-width: 180px;
        img{
            display: none;
            & + img{
                display: block;
            }
        }
    }
}