/*------------------------------------------------------------
- Sidebar
------------------------------------------------------------*/

.sidebar {
    .widget {
        margin-bottom: 3em;
        ul {
            list-style: none;
        }
        .widget-title {
            text-transform: capitalize;
            font-family: $sans-serif;
            color: $color-black;
            font-weight: $font-weight-medium;
            margin-bottom: 25px;
        }
        &.widget_categories {
            background: #f7f7f7;
            padding: 30px;
            .cat-item {
                margin-bottom: 20px;
                padding-left: 18px;
                position: relative;
                &:last-child {
                    margin-bottom: 0px;
                }
                a {
                    display: inline-block;
                    text-transform: capitalize;
                    letter-spacing: 0px;
                    font-size: em(15);
                    color: $color-black;
                    font-weight: $font-weight-regular;
                    &:hover {
                        color: $color-primary;
                    }
                }
                &:last-child {
                    border: none;
                }
                &:before {
                    content: "\f111";
                    font-family: FontAwesome;
                    font-size: 8px;
                    color: $color-black;
                    position: absolute;
                    left: 0;
                    top: 6.5px;
                    @include breakpoint(desktop) {
                        font-size: 7px;
                    }
                }
            }
        }
    }
    .widget_search {
        #s {
            border-color: #e1e1e1;
            box-shadow: none;
            height: 48px;
            margin-bottom: 0;
            padding: 10px 50px 10px 15px;
            border-radius: 0px;
        }
        #searchsubmit {
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            font-family: FontAwesome;
            background: none;
            border: none;
            font-size: em(16);
            color: $color-primary;
            transition: all 0.3s ease-in-out 0s;
            min-width: auto;
            padding: 0px;
            &:hover {
                color: $color-secondary;
            }
        }
        form {
            .form-group {
                margin-bottom: 0;
            }
        }
    }
    .form-control::-moz-placeholder {
        color:#c2c1c1;
        font-size: 14px;
        font-weight: $font-weight-regular;
    }
    .widget_popularpost {
        .recent-post-grid {
            position: relative;
            margin-bottom: 20px;
            padding-bottom: 30px;
            padding-left: 110px;
            border-bottom: 1px solid #dcdcdc;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0px;
                padding-bottom: 0px;
                height: auto;
            }
            figure {
                margin-bottom: 20px;
                &.featured-thumb {
                    width: 95px;
                    @include bg-cover(cover, center center);
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
                a {
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
            .content-sec {
                .meta-info {
                    margin-bottom: 8px;
                    .date {
                        font-size: em(16);
                        font-family: $sans-serif;
                        color: #8f8f8f;
                        font-weight: $font-weight-regular;
                    }
                }
                h6 {
                    margin-bottom: 0px;
                    line-height: 1.5;
                    a {
                        color: $color-black;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
}