/*----------------------------------------------
- Custom Css
----------------------------------------------*/

// Container
.container {
  @media only screen and (min-width: 1500px) {
    max-width: 1470px;
  }
}

body {
  overflow-x: hidden;
}

router-outlet ~ * {
  position: relative;
  height: 100%;
  width: 100%;
}


// Section
.section {
  padding: 60px 0px;

  .sec-title {
    text-align: center;
    margin-bottom: 60px;

    h3 {
      color: $color-black;
      margin-bottom: 0px;
      line-height: 1.3em;
      text-transform: capitalize;
    }
  }

  @include breakpoint(x-large) {
    padding: 50px 0px;
  }
}

// Title
.title-sec {
  text-align: center;

  small {
    color: #8f8f8f;
    font-size: em(15);
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    margin-bottom: 12px;
    display: block;
  }

  h3 {
    color: $color-black;
    font-weight: $font-weight-light;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
}

//Meta Info
.meta-info {
  ul {
    li {
      list-style: none;
      display: inline-block;
      margin-right: 12px;

      &:last-child {
        margin-right: 0px;
      }

      svg {
        height: 15px;
        width: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        fill: #3f3f3f;

        @include breakpoint(x-large) {
          height: 12px;
          width: 12px;
          margin-right: 3px;
        }
      }

      span {
        color: #3f3f3f;
        font-size: em(15);
        font-weight: $font-weight-light;
        display: inline-block;
        vertical-align: middle;

        @include breakpoint(x-large) {
          font-size: em(13);
        }
      }

      a {
        color: #3f3f3f;
        font-size: em(15);
        font-weight: $font-weight-light;
        vertical-align: middle;
        display: inline-block;

        @include breakpoint(x-large) {
          font-size: em(13);
        }

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

// Read More
.read-more {
  a {
    color: #282828;
    font-size: em(15);
    display: block;
    text-transform: capitalize;

    &:hover {
      color: $color-primary;

      &:after {
        width: 50%;
      }
    }

    &:after {
      background: $color-primary;
      width: 16%;
      vertical-align: middle;
      margin-left: 15px;
      height: 1px;
      display: inline-block;
      content: "";
      transition: all 0.3s ease-in-out 0s;
    }
  }
}
