<section class="inner-banner-wrapper" style="background-image: url('assets/images/inner-banner.jpg');">
    <div class="container">
        <div class="banner-content">
            <div class="top-title" >
                <h2>About Us</h2>
            </div>
        </div>
    </div>
    <!-- container -->
</section>
<!--inner- banner-wrapper -->
<div class="main">
    <section class="creative-wrap section"  style="background-image: url(assets/images/icon.jpg), url(assets/images/plant.jpg);">
        <div class="container">
            <div class="creative-sec">
                <div class="row">
                    <div class="col-lg-5 col-sm-6 col-12">
                        <div class="title-sec">
                            <h3>Hello. We are Gretna <br> Creative & Interactive Company <br> Make creative projects</h3>
                        </div>
                        <!-- title-sec -->
                        <figure >
                            <img src="assets/images/spex.jpg" alt="featured-thumb" />
                        </figure>
                    </div>
                    <div class="col-lg-7 col-sm-6 col-12">
                        <div class="content-sec">
                            <p>Our mission is to deliver exceptional value to our esteemed clients stretched across the length and breadth of the digital world. Equipped with industry-leading technologies, we strive to help companies realize their full potential with an exceptional range of value-driven web and mobile solutions.</p>
                            <p>Amassed with a reservoir of knowledge and rich experience, we aspire to deliver engaging and elegantly-crafted web and mobile applications to individuals, independent agencies, and businesses alike.</p>
                            <p>Equipped with industry-leading technologies, we strive to help companies realize their full potential with an exceptional range of value-driven web and mobile solutions. Amassed with a reservoir of knowledge and rich experience, we aspire to deliver engaging and elegantly-crafted web and mobile applications to individuals, independent agencies, and businesses alike.</p>
                        </div>
                        <!-- content-sec -->
                    </div>
                </div>
                <!-- row -->
            </div>  
            <!-- creative-sec -->
            <div class="creative-grid">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="grid_item">
                            <figure>
                                <a href="#">
                                    <img src="assets/images/grid_icon1.png" alt="featured-thumb" />
                                </a>
                            </figure>
                            <h4>
                                <a href="#">Experienced Geeks</a>
                            </h4>
                            <p>Gretna is a core team of Digital Strategists working with a global network of experts to assist clients around the world.</p>
                        </div>
                        <!-- grid_item -->
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="grid_item">
                            <figure>
                                <a href="#">
                                    <img src="assets/images/grid_icon2.png" alt="featured-thumb" />
                                </a>
                            </figure>
                            <h4>
                                <a href="#">Happy Customers</a>
                            </h4>
                            <p>Gretna is known for consistently delivering outstanding ROI because we are obsessed with results.</p>
                        </div>
                        <!-- grid_item -->
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="grid_item">
                            <figure>
                                <a href="#">
                                    <img src="assets/images/grid_icon3.png" alt="featured-thumb" />
                                </a>
                            </figure>
                            <h4>
                                <a href="#">Relevant Results</a>
                            </h4>
                            <p>Passion defines our agency. And, when technology and passion work together, this is when miracle happens.</p>
                        </div>
                        <!-- grid_item -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- creative-grid -->
        </div>
        <!-- container -->
    </section>
    <!-- creative-wrap -->
    <section class="always-motion-wrap section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-12">
                    <div class="img-sec">
                        <figure>
                            <img src="assets/images/motion.jpg" alt="featured-thumb" />
                        </figure>
                    </div>
                    <!-- img-sec -->
                </div>
                <div class="col-lg-6 col-sm-12 col-12">
                    <div class="content-sec">
                        <small>WE MAKE IT</small>
                        <h3>Always in Motion!</h3>
                        <p>We create beautiful online interfaces for start ups and established companies alike.</p>
                        <p>We work along with each other so that every aspect of both form and function work in harmony.</p>
                        <p>A dedicated team works on your professional & powerful web presence so that the message is conveyed to your current and future clients in the most impressive way.</p>
                    </div>
                    <!-- content-sec -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- always-motion-wrap -->
</div>
<!-- main -->