/*------------------------------------------------------------
- About Us Page
------------------------------------------------------------*/

.creative-wrap {
    background-position: 80px 75%, 100% 95%;
    background-repeat: no-repeat, no-repeat;
    .creative-sec {
        margin-bottom: 30px;
        .title-sec {
            h3 {
                text-align: right;
                font-weight: $font-weight-light;
                color: $color-black;
                line-height: 1.5em;
                position: relative;
                margin-bottom: 50px;
                &:after {
                    content: "";
                    background: $color-primary;
                    height: 2px;
                    width: 113px;
                    position: absolute;
                    bottom: -30px;
                    right: 0;
                }
            }
        }
        figure {
            text-align: right;
            padding-right: 50px;
        }
        .content-sec {
            padding-left: 70px;
            @include breakpoint(x-large) {
                padding-left: 30px;
            }
            p {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    .creative-grid {
        .row {
            padding: 0 7%;
            @include breakpoint(x-large) {
                padding: 0%;
            }
        }
        .grid_item {
            text-align: center;
            padding: 40px;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
            background: $color-white;
            min-height: 400px;
            transition: all 0.3s ease-in-out 0s;
            h4 {
                margin-bottom: 15px;
                a {
                    color: $color-black;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
            p {
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            figure {
                a {
                    display: inline-block;
                }
            }
            &:hover {
                transform: translateY(-6px);
            }
        }
    }
}

.always-motion-wrap {
    background: #f7f7f7;
    .row {
        padding: 0 7%;
        @include breakpoint(x-large) {
            padding: 0%;
        }
    }
    .img-sec {
        figure {
            margin-bottom: 0px;
        }
    }
    .content-sec {
        small {
            color: #8f8f8f;
            font-size: 0.9375em;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 8px;
            display: block;
        }
        h3 {
            color: $color-black;
            font-weight: $font-weight-light;
            margin-bottom: 18px;
        }
        p {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}