/*------------------------------------------------------------
- Blog Page
------------------------------------------------------------*/

/*------ Blog List -----*/

.blog-grid-wrap {
    .blog-wrap {
        .grid-item {
            margin-bottom: 3em;
            padding-right: 6em;
            @include breakpoint(x-large) {
                padding-right: 0px;
            }
            figure {
                height: 450px;
            }
            h5 {
                letter-spacing: 0.05em;
                margin-bottom: 15px;
                a {
                    color: $color-black;
                    font-weight: $font-weight-regular;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
            .meta-info {
                border-top: none;
                padding-top: 0px;
                margin-bottom: 25px;
            }
        }
    }
}

/*----- Blog Grid ------*/

.blog-single-wrap  {
    .title-sec {
        margin-bottom: 50px;
    }
    .blog-wrap-sec {
        padding-right: 6em;
        @include breakpoint(x-large) {
            padding-right: 0px;
        }
        figure {
            height: 450px;
            margin-bottom: 25px;
            @include bg-cover(cover, center);
            @include breakpoint(x-large) {
                height: 320px;
            }
        }
        .meta-info {
            margin-bottom: 35px;
            ul {
                li  {
                    svg {
                        fill: #4d4d4d;
                    }
                    a,
                    span {
                        font-size: em(15);
                        font-weight: $font-weight-regular;
                        color: #4d4d4d;
                    }
                    a {
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
        h4 {
            margin-bottom: 18px;
            color: $color-black;
        }
    }
}