/*------------------------------------------------------------
- ContactUS Page
------------------------------------------------------------*/

.contactus-wrap {
    .map-section {
        height: 160px;
        iframe {
            height: 100%;
            width: 100%;
        }
    }
    .title-sec {
        margin-bottom: 70px;
    }
    .address-block {
        background: #f9f9f9;
        padding: 25px 0px;
        text-align: center;
        .icon {
            margin-bottom: 10px;
            i {
                color: $color-primary;
                font-size: em(16);
            }
        }
        .row {
            align-items: center;
            > div {
                position: relative;
                &:nth-child(2) {
                    .icon {
                        i {
                            font-size: em(19);
                        }
                    }
                }
                &:after {
                    height: 50px;
                    width: 2px;
                    content: "";
                    background: #cecece;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    bottom: 0;
                    right: 0;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        address,
        a {
            color: $color-black;
            font-size: em(16);
            font-weight: $font-weight-medium;
        }
        a {
            &:hover {
                color: $color-primary;
            }
        }
    }
}