/*------------------------------------------------------------
- Home Page
------------------------------------------------------------*/

/*----- About Us Section -----*/

.about-us-wrap {
    background: $color-grey;
    .row {
        padding: 0 10%;
        align-items: center;
        .left_sec {
            height: 430px;
            @include bg-cover(cover, center);
            position: relative;    
            @include breakpoint(x-large) {
                height: 350px;
            }
            .content-sec {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                h3 {
                    text-align: right;
                    font-weight: $font-weight-light;
                    color: $color-black;
                    line-height: 1.5em;
                    position: relative;
                    margin-bottom: 90px;
                    @include breakpoint(x-large) {
                        margin-bottom: 75px;
                    }
                    &:after {
                        content: "";
                        background: $color-primary;
                        height: 2px;
                        width: 113px;
                        position: absolute;
                        bottom: -30px;
                        right: 0;
                    }
                }
                figure {
                    margin-left: 40px;
                }
            }
        }
        .right_sec {
            padding-left: 60px;
            @include breakpoint(x-large) {
                padding-left: 38px;
            }
            p {
                margin-bottom: 35px;
            }
            cite {
                font-weight: $font-weight-medium;
                font-family: $sans-serif;
                font-style: italic;
                font-size: em(16);
                color: $color-black;
                margin-bottom: 50px;
                display: block;
                @include breakpoint(x-large) {
                    margin-bottom: 35px;
                }
            }
            .signature {
                text-align: right;
            }
        }
    }
}

/*----- Our Services Section -----*/

.our-services-wrap {
    text-align: center;
    .title-sec {
        margin-bottom: 50px;
    }
    .service_grid {
        padding: 0px 50px;
        @include breakpoint(x-large) {
            padding: 0px;
        }
        h5 {
            a {
                color: $color-black;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        figure {
            transition: all 0.3s ease-in-out 0s;
            &:hover {
                transform: translateY(-6px);
            }
            a {
                display: block;
            }
        }
    }
    .row {
        margin-bottom: 30px;
    }
}

/*----- We Make It Section -----*/

.wemakeite-wrap {
    @include bg-cover(cover, center);
    position: relative;
    .figure-sec {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include breakpoint(x-large) {
            max-width: 630px;
        }
    }
    .content-sec {
        width: 55%;
    }
    .title-sec {
        text-align: left;
        margin-bottom: 40px;
    }
    .our-solution-bar {
        ul.bottom-icon-section {
            position: relative;
            margin: 0px;
            li {
                display: inline-block;
                position: relative;
                text-align: center;
                margin-right: 25px;
                p {
                    margin: 10px auto 0;
                    font-weight: $font-weight-medium;
                    color: $color-black;
                    font-size: em(16);
                    @include breakpoint(x-large) {
                        font-size: em(14);
                    }
                }
                &:after {
                    content: "";
                    background: #d5d5d5;
                    height: 1px;
                    position: absolute;
                    @include breakpoint(mobile) {
                        display: none;
                    }
                }
            }
        }
    }
}

/*----- Blog Section -----*/

.blog-wrap {
    .title-sec {
        padding: 0 15%;
        margin-bottom: 35px;
    }
    .grid-item {
        .featured_thumb {
            position: relative;
            figure {
                margin-bottom: 30px;
                @include bg-cover(cover, center);
                a {
                    display: block;
                    height: 310px;
                    @include breakpoint(x-large) {
                        height: 270px;
                    }
                }
            }
            .date-sec {
                position: absolute;
                left: 20px;
                top: 20px;
                transition: all 0.3s ease-in-out 0s;
                small {
                    background: $color-secondary;
                    font-size: em(15);
                    font-weight: $font-weight-medium;
                    padding: 0px 10px;
                    letter-spacing: 0.04em;
                    line-height: 1.8em;
                    border-radius: 4px;
                    color: $color-white;
                    display: inline-block;
                }
            }
            &:hover {
                .date-sec {
                    transform: translateY(-6px);
                }
            }
        }
        h4 {
            letter-spacing: 0.05em;
            a {
                color: $color-black;
                font-weight: $font-weight-regular;
                line-height: 1.4;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .meta-info {
            border-top: 1px solid #dcdcdc;
            padding-top: 20px;
            margin-top: 20px;
            ul {
                margin-bottom: 0px;
            }
        }
    }
}

/*----- Portfolio Section -----*/

.portfolio-wrap {
    background: $color-grey;
    .title-sec {
        padding: 0 15%;
        margin-bottom: 70px;
    }
    .portfolio-list {
        text-align: center;
        margin: 0 auto 70px;
        li {
            display: inline-block;
            margin: 0 20px;
            a {
                color: #1e1e1e;
                font-weight: $font-weight-medium;
                font-size: em(15);
                text-transform: capitalize; 
                &.active {
                    color: $color-primary;
                }
            }
            &:hover {
                a {
                    color: $color-primary;
                }
            }
        }
    }
    .gallery_product {
        margin-bottom: 40px;
        height: 357px;
        @include bg-cover(contain, right);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @include breakpoint(x-large) {
            height: 290px;
        }
        &:after {
            content: "";
            background-image: url('../assets/images/dotted-effect.png');
            height: 20px;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
        .content-sec {
            small {
                color: #8f8f8f;
                font-size: em(15);
                display: block;
                margin-bottom: 15px;
                font-weight: $font-weight-medium;
            }
            &:after {
                display: block;
                content: "";
                height: 3px;
                width: 40px;
                background: $color-primary;
                margin-top: 15px;
            }
            h4 {
                letter-spacing: 0.05em;
                line-height: 1.5em;
                a {
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
}


  
  /* PROGRESS CIRCLE COMPONENT */
  .circliful {
      margin:auto;
      position: relative; 
  }
  
  .circle-text, .circle-info, .circle-text-half, .circle-info-half {
      width: 100%;
      position: absolute;
      text-align: center;
      display: inline-block;
  }
  
  .circle-info, .circle-info-half {
      color: #999;
  }
  
  .circliful .fa {
      margin: -10px 3px 0 3px;
      position: relative;
      bottom: 4px;
  }