/*------------------------------------------------------------
- Portfolio Page
------------------------------------------------------------*/

.portfolio-single-wrap {
    .title-sec {
        .title {
            &:after {
                margin-bottom: 0px;
            }
        }
    }
}

/*----- Counter Section -----*/

.counter-wrap {
    background: $color-primary;
    .row {
        > div {
            &:nth-child(2) {
                background: #ce5f1d;
            }
            &:nth-child(2),
            &:nth-child(3) {
                .counter_grid {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
    .counter_grid {
        padding: 50px 0px;
        h3 {
            font-weight: $font-weight-medium;
            color: $color-white;
        }
        h4 {
            font-weight: $font-weight-light;
            color: $color-white;
            &:after {
                content: "";
                background: $color-white;
                height: 2px;
                width: 65px;
                display: block;
                margin-top: 15px;
            }
        }
    }
}

/*----- Project Brief Wwrap -----*/

.project-brief-wrap {
    .project-brief-sec {
        padding: 40px;
        box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out 0s;
        h4 {
            color: $color-black;
            margin-bottom: 20px;
        }
        &:hover {
            transform: translateY(-6px);
        }
    }
    .order {
        order: 1;
        text-align: right;
    }
}

/*----- Project Listing Wrap -----*/

.project-listing-wrap {
    background: #fcfcfc;
    .project-listing-sec {
        counter-reset: list;
        article {
            position: relative;
            padding-left: 120px;
            margin-bottom: 3.5em;
            padding-top: 35px;
            &:before {
                content: counter(list);
                counter-increment: list;
                font-family: $sans-serif;
                font-weight: $font-weight-medium;
                font-size: em(50);
                color: $color-white;
                background: $color-primary;
                width: 92px;
                height: 92px;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                line-height: 1.8em;
                @include breakpoint(desktop) {
                    line-height: 2.1em;
                }
            }
            &:last-child {
                margin-bottom: 0px;
            }
            h4 {
                color: $color-black;
                margin-bottom: 20px;
                letter-spacing: 0.01em;
                font-weight: $font-weight-medium;
            }
            p {
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            h6 {
                margin-bottom: 30px;
                color: $color-black;
                font-weight: $font-weight-medium;
            }
            ul {
                li {
                    list-style: none;
                    color: #585b5c;
                    font-size: em(15);
                    margin-bottom: 15px;
                    position: relative;
                    padding-left: 20px;
                    &:before {
                        content: "\f111";
                        font-family: FontAwesome;
                        font-size: 8px;
                        color: $color-primary;
                        position: absolute;
                        left: 0;
                        top: 6.5px;
                        @include breakpoint(desktop) {
                            font-size: 7px;
                        }
                    }
                }
            }
        }
    }
}

/*------ Contact Us Section -----*/

.contact-us {
    .title-sec {
        margin-bottom: 40px;
        .title {
            &:after {
                display: none;
            }
        }
    }
    form {
        padding: 0 22%;
        @include breakpoint(x-large) {
            padding: 0 20%;
        }
        .form-group {
            margin-bottom: 23px;
        }
        button {
            margin: 22px auto 0;
            &:hover {
                transform: translateY(-6px);
            }
        }
    }
}
