/*------------------------------------------------------------
- Service Page
------------------------------------------------------------*/

/*----- Services -----*/

.ourservices {
    .service_grid {
        padding: 30px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        min-height: 330px;
        margin-bottom: 30px;
        .read-more-icon {
            margin-top: 30px;
            a {
                display: inline-block;
                transition: all 0.3s ease-in-out 0s;
                figure {
                    height: 30px;
                    width: 30px;;
                    svg {
                        height: 100%;
                        width: 100%;
                        fill: #cdcdcf;
                    }
                }

                &:hover {
                    svg {
                        fill: $color-primary;
                    }
                }
            }
        }
    }
}

/*----- Services Single -----*/

.ourservices-single-wrap {
    .webdev-wrap {
        .row {
            > div {
                &:first-child {
                    order: 2;
                }
                .content-sec {
                    padding-right: 50px;
                    ul {
                        margin-top: 30px;
                        li {
                            list-style: none;
                            font-family: $sans-serif;
                            font-weight: $font-weight-regular;
                            font-size: em(15);
                            color: #585b5c;
                            line-height: 2;
                            margin-bottom: 7px;
                            position: relative;
                            padding-left: 15px;
                            &:before {
                                content: "\f111";
                                position: absolute;
                                top: 7px;
                                left: 0;
                                font-family: FontAwesome;
                                font-size: 8px;
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
        }
    }
}