<section class="inner-banner-wrapper" style="background-image: url('assets/images/inner-banner.jpg');">
    <div class="container">
        <div class="banner-content">
            <h2>Blog</h2>
        </div>
    </div>
    <!-- container -->
</section>
<!--inner- banner-wrapper -->
<div class="main">
    <section class="blog-grid-wrap section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-12">
                    <div class="blog-wrap">
                        <div class="grid-item">
                            <div class="featured_thumb">
                                <figure style="background-image: url(assets/images/grid1.jpg)">
                                    <a href="/blog-single"></a>
                                </figure>
                            </div>
                            <div class="meta-info">
                                <ul>
                                    <li>
                                        <svg x="0px" y="0px" viewBox="0 0 97.441 92.801">
                                            <use xlink:href="#userIcon"></use>
                                        </svg>
                                        <span>By</span>
                                        <a href="#">Simpleb</a>
                                    </li>
                                    <li>
                                        <svg x="0px" y="0px" viewBox="0 0 32 32">
                                            <use xlink:href="#calenderIcon"></use>
                                        </svg>
                                        <span>March 11, 2019</span>
                                    </li>
                                    <li>
                                        <svg x="0px" y="0px" viewBox="0 0 511.626 511.626">
                                            <use xlink:href="#commentsIcon"></use>
                                        </svg>
                                        <a href="#">2 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h5>
                                <a href="/blog-single">How Hiring a Dedicated Resource for Mobile App is a Good Idea?</a>
                            </h5>
                            <p>Business landscape has undergone a whirlwind of change with virtual existence of companies superimposing the quintessential existence as a brick and mortar shop. Whilst websites have become instrumental to mark the online presence of your firm</p>
                            <div class="read-more">
                                <a href="/blog-single">Read More</a>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="featured_thumb">
                                <figure style="background-image: url(assets/images/grid2.jpg)">
                                    <a href="/blog-single"></a>
                                </figure>
                            </div>
                            <div class="meta-info">
                                <ul>
                                    <li>
                                        <svg x="0px" y="0px" viewBox="0 0 97.441 92.801">
                                            <use xlink:href="#userIcon"></use>
                                        </svg>
                                        <span>By</span>
                                        <a href="#">Simpleb</a>
                                    </li>
                                    <li>
                                        <svg x="0px" y="0px" viewBox="0 0 32 32">
                                            <use xlink:href="#calenderIcon"></use>
                                        </svg>
                                        <span>March 11, 2019</span>
                                    </li>
                                    <li>
                                        <svg x="0px" y="0px" viewBox="0 0 511.626 511.626">
                                            <use xlink:href="#commentsIcon"></use>
                                        </svg>
                                        <a href="#">2 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h5>
                                <a href="/blog-single">How Hiring a Dedicated Resource for Mobile App is a Good Idea?</a>
                            </h5>
                            <p>Business landscape has undergone a whirlwind of change with virtual existence of companies superimposing the quintessential existence as a brick and mortar shop. Whilst websites have become instrumental to mark the online presence of your firm</p>
                            <div class="read-more">
                                <a href="/blog-single">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- blog-wrap -->
                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                    <div class="sidebar">
                        <div class="widget widget_search clearfix" id="search-3">
                            <div class="widget-panel-info">
                                <form id="searchform1" method="get" role="search">
                                    <div class="form-group relative">
                                        <input type="text" value="" id="s" name="s" placeholder="Search" class="form-control">
                                        <button type="submit" class="show" id="searchsubmit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="widget widget_popularpost">
                            <div class="widget-panel-info">
                                <h5 class="widget-title">Recent Posts</h5>
                                <ul>
                                    <li class="recent-post-grid">
                                        <figure class="featured-thumb" style="background-image: url(assets/images/post-grid1.jpg);">
                                            <a href="#"></a>
                                        </figure>
                                        <div class="content-sec">
                                            <div class="meta-info">
                                                <cite class="date">18 April 2019</cite>
                                            </div>
                                            <h6>
                                                <a href="#/">Justify, made a no-brainer ‘TDN Rising Star’ off a scintillating debut</a>
                                            </h6>
                                        </div>
                                    </li>
                                    <li class="recent-post-grid">
                                        <figure class="featured-thumb" style="background-image: url(assets/images/post-grid2.jpg);">
                                            <a href="#"></a>
                                        </figure>
                                        <div class="content-sec">
                                            <div class="meta-info">
                                                <cite class="date">15 April 2019</cite>
                                            </div>
                                            <h6>
                                                <a href="#/">Justify, made a no-brainer ‘TDN Rising Star’ off a scintillating debut</a>
                                            </h6>
                                        </div>
                                    </li>
                                    <li class="recent-post-grid">
                                        <figure class="featured-thumb" style="background-image: url(assets/images/post-grid3.jpg);">
                                            <a href="#"></a>
                                        </figure>
                                        <div class="content-sec">
                                            <div class="meta-info">
                                                <cite class="date">10 April 2019</cite>
                                            </div>
                                            <h6>
                                                <a href="#/">Justify, made a no-brainer ‘TDN Rising Star’ off a scintillating debut</a>
                                            </h6>
                                        </div>
                                    </li>
                                    <li class="recent-post-grid">
                                        <figure class="featured-thumb" style="background-image: url(assets/images/post-grid4.jpg);">
                                            <a href="#"></a>
                                        </figure>
                                        <div class="content-sec">
                                            <div class="meta-info">
                                                <cite class="date">12 April 2019</cite>
                                            </div>
                                            <h6>
                                                <a href="#/">Justify, made a no-brainer ‘TDN Rising Star’ off a scintillating debut</a>
                                            </h6>
                                        </div>
                                    </li>
                                    <li class="recent-post-grid">
                                        <figure class="featured-thumb" style="background-image: url(assets/images/post-grid5.jpg);">
                                            <a href="#"></a>
                                        </figure>
                                        <div class="content-sec">
                                            <div class="meta-info">
                                                <cite class="date">15 April 2019</cite>
                                            </div>
                                            <h6>
                                                <a href="#/">Justify, made a no-brainer ‘TDN Rising Star’ off a scintillating debut</a>
                                            </h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget_categories">
                            <div class="widget-panel-info">
                                <h5 class="widget-title">Categories</h5>
                                <ul>
                                    <li class="cat-item">
                                        <a href="#/">2017 Tendencies</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#/">Brainstorming</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#/">Branding</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#/">Economic Analysis</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#/">Marketing</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#/">News</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- row -->
        </div>
        <!-- container -->
    </section>
    <!-- blog-grid-wrap -->
</div>
<!-- main -->