<header class="header">
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="">
                    <img src="assets/images/logo.png" alt="logo" />
                    <img src="assets/images/logo-icon.png" alt="logo icon" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav-top-sec">
                    <li>
                        <figure>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </figure>
                        <a href="mailto:info@imarkinfotech.com">info@imarkinfotech.com</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-skype" aria-hidden="true"></i>
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="mailto:loremipsum.com">loremipsum.com</a>
                                </li>
                                <li><a href="mailto:skype.com">skype.com</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-phone" aria-hidden="true"></i>
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="tel:911234567891">+91 12345-67891</a>
                                </li>
                                <li>
                                    <a href="tel:915467856322">+91 54678-56322</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="navbar-bottom">
                    <ul class="nav navbar-nav ml-auto" id="menu-primary-menu">
                        <li class="nav-item ">
                            <a class="nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >About us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" routerLink="/ourservices" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Services
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                           </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" routerLink="/webdevelopment" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Web Development</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="/webdesign" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Web Design</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/portfolio" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/blog" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Blog </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact-us" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Contact Us</a>
                        </li>
                    </ul>
                    <div class="quote-btn">
                        <a href="/">Request a quote</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
    </nav>
</header>