<section class="inner-banner-wrapper" style="background-image: url('assets/images/inner-banner.jpg');">
    <div class="container">
        <div class="banner-content">
            <h2>Portfolio</h2>
        </div>
    </div>
    <!-- container -->
</section>
<!--inner- banner-wrapper -->
<div class="main">
    <section class="portfolio-single-wrap">
        <div class="title-sec section heading">
            <div class="container">
                <div class="title-sec">
                    <div class="top-title">
                        <small>OUR WORKS</small>
                        <h3>Icons Mind</h3>
                        <p>Imark Infotech helps in building and growing your brand further with creative, data-driven, tech-focused <br> strategies that enable you to meet your business goals.</p>
                    </div>
                    <!-- top-title -->
                </div>
                <!-- title-sec -->
            </div>
            <!-- container -->
        </div>
        <!-- title-sec -->
        <div class="counter-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="counter_grid">
                            <h3>200+</h3>
                            <h4>Startup Project</h4>
                        </div>
                        <!-- counter_grid -->
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="counter_grid">
                            <h3>30+</h3>
                            <h4>Industries Served</h4>
                        </div>
                        <!-- counter_grid -->
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="counter_grid">
                            <h3>2800+</h3>
                            <h4>Clients</h4>
                        </div>
                        <!-- counter_grid -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- counter-wrap -->
        <div class="project-brief-wrap section">
            <div class="container">
                <div class="project-brief-sec">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-12 order">
                            <div class="img-sec">
                                <img src="assets/images/portfolio1.png" alt="featured-thumb" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-12">
                            <div class="content-sec">
                                <h4>Project Brief</h4>
                                <p>Icons Mind is a popular online icon store, dedicated to creating high quality SVG icons for iOS tab bars, toolbars, Android, Windows Mobile, websites and more. Despite a gamut of creativity and expertise, the client had no company website and thus was losing a lot of potential business opportunities. Time for a brand presence!</p>
                                <p>Icons Mind placed a lot of trust in gretna to develop their first website and showcase their award-winning work to the world. We worked closely with their marketing department to improve the usability of their design and build out an innovative site, complete with extensive, high end functionalities.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- project-brief-sec -->
            </div>
            <!-- container -->
        </div>
        <!-- project-brief-sec -->
        <div class="project-listing-wrap section">
            <div class="container">
                <div class="project-listing-sec">
                    <article>
                        <h4>Research</h4>
                        <p>We enjoyed being in discussion with Tal Revivo (CEO & Founder of Icons Mind) and team during the planning process, based on what we proceeded in research.</p>
                        <h6>The purpose of this project was to:</h6>
                        <ul>
                            <li>Create a new brand identity for an existing company portal.</li>
                            <li>Ensure the new brand identity is relevant, creative, polished and professional.</li>
                            <li>Ensure the new brand identity represents the company’s values and community’s aspirations.</li>
                        </ul>
                        <p>Part of the brief from our client, was to position the Icons Mind as premium brand, so we explored more on the same grounds from other industries.</p>
                    </article>
                    <article>
                        <h4>Strategy</h4>
                        <p>Gretna team of experienced developers was brought onboard to develop a professional website for Icons Mind and to create their brand presence online. From the outset, we knew, we wanted to provide a responsive design to the website as their target market would likely be searching for their icons on a mobile device.</p>
                        <P>Our UX designers worked diligently with our development team, directly supervising the implementation of the interactions and designs. We created a custom design that showcased the company’s size and competences with a clean, fresh and modern look. We also integrated a WordPress CMS into the site to help the client easily manage his website and upload new icons.</P>
                    </article>
                    <article>
                        <h4>Progress</h4>
                        <p>The end result is a powerful and beautiful business website as it facilitates the client with a strong reporting functionality and an online customer management solution. Results for the first six months have exceeded expectations.</p>
                        <ul>
                            <li>9 million Pageviews, up 73%</li>
                            <li>93 Pages/Session, up 48%</li>
                            <li>32% Bounce Rate, down 17%</li>
                            <li>73% Organic Sessions Up</li>
                        </ul>
                    </article>
                </div>
                <!-- project-listing-sec -->
            </div>
            <!-- container -->
        </div>
        <!-- project-listing-wrap -->
        <div class="contact-us section" style="background-image: url('assets/images/contactus-bg.jpg');">
            <div class="container">
                <div class="title-sec">
                    <div class="container">
                        <div class="title" data-aos="zoom-out-down" data-aos-duration="1000">
                            <h3>Contact Us</h3>
                        </div>
                        <div class="content" data-aos="zoom-out-down" data-aos-duration="1100">
                            <p>Gretna helps in building and growing your brand further with creative, data-driven, tech-focused strategies that <br> enable you to meet your business goals.</p>
                        </div>
                    </div>
                    <!-- container -->
                </div>
                <!-- title-sec -->
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <input class="firstCap form-control" type="text" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Your E-mail">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <button type="submit" value="submit">Send message</button>
                    </div>
                </form>
            </div>
            <!-- container -->
        </div>
        <!-- contact-us -->
    </section>
    <!-- portfolio-single-wrap -->
</div>
<!-- main -->