/*------------------------------------------------------------
- Buttons
------------------------------------------------------------*/

/*----- Theme Button Section ------*/

.theme-btn {
    color: $color-white;
    font-size: em(18);
    font-family: $font-weight-medium;
    border-radius: 50px;
    line-height: 2.8;
    text-align: center;
    display: inline-block;
    padding: 0px 30px;
    text-transform: uppercase;
    background: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
        background: $color-secondary;
        border-color: $color-secondary;
        color: $color-white;
    }
}

/*----- Button Section ------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: $sans-serif;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    display: inline-block;
    font-size: em(15);
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    line-height: 3.2em;
    color: $color-white;
    border: 1px solid $color-primary;
    background: $color-primary;
    padding: 0 20px;
    border-radius: 50px;
    min-width: 200px;
    transition: all 0.3s ease-in-out 0s;
}

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    box-shadow: none;
    background: $color-white;
    color: $color-primary;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
}