<section class="inner-banner-wrapper" style="background-image: url('assets/images/inner-banner.jpg');">
    <div class="container">
        <div class="banner-content">
            <h2>Web Development</h2>
        </div>
    </div>
    <!-- container -->
</section>
<!--inner- banner-wrapper -->
<div class="main">
    <section class="ourservices-single-wrap"> 
        <div class="webdev-wrap section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-12 col-12">
                        <div class="img-sec">
                            <figure>
                                <img src="assets/images/webdev.png" alt="featured-thumb" />
                            </figure>
                        </div>
                        <!-- img-sec -->
                    </div>
                    <div class="col-lg-7 col-sm-12 col-12">
                        <div class="content-sec">
                            <h5>Web Development Company</h5>
                            <p>The sole purpose of any website is to interact with a user in a way to bring him back again and this is possible only through a wide range of customization that a website needs, because of the constantly changing trends.</p>
                            <p>To cater to these trends, our developers know their way in Wordpress, Drupal and CMS like Joomla to create dynamic and eccentric websites for our clients. We offer:</p>
                            <ul>
                                <li>SEO-friendly websites</li>
                                <li>Customized designs for mobiles, tablets and desktops</li>
                                <li>Attractive color schemes and call to actions</li>
                                <li>High converting landing pages</li>
                                <li>Interactive content creation for your website</li>
                                <li>Website re-design</li>
                            </ul>
                        </div>
                        <!-- content-sec -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- webdev-wrap -->
        <div class="about-us-wrap section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="left_sec" style="background-image: url(assets/images/about-bg.png);">
                           <div class="content-sec">
                                <h3>Hello. We are gretna<br>Creative & Interactive Company<br>Make creative projects</h3>
                                <figure>
                                    <img src="assets/images/about-icon.png" alt="icon" />
                                </figure>
                           </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right_sec">
                            <p>With over 6+ years of experience in offering custom web development services, we’ve have grown our client base across the globe, serving multiple industries and business domains including healthcare, education, eCommerce, entertainment, travel, finance, media, automotive and more.</p>
                            <cite>Have an idea on mind? Let’s turn it into a success story!</cite>
                            <div class="getintouch">
                                <a href="#" class="theme-btn">Get In Touch</a>
                            </div>
                            <!-- getintouch -->
                        </div>
                    </div>
                </div>
                <!-- row -->
            </div>  
            <!-- container -->
        </div>
        <!-- about-us-wrap -->
        <div class="counter-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="counter_grid">
                            <h3>200+</h3>
                            <h4>Startup Project</h4>
                        </div>
                        <!-- counter_grid -->
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="counter_grid">
                            <h3>30+</h3>
                            <h4>Industries Served</h4>
                        </div>
                        <!-- counter_grid -->
                    </div>
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="counter_grid">
                            <h3>2800+</h3>
                            <h4>Clients</h4>
                        </div>
                        <!-- counter_grid -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- counter-wrap -->
        <div class="portfolio-wrap section">
            <div class="container">
                <div class="title-sec">
                    <div class="title">
                        <h3>Latest Projects</h3>
                        <p >Digital never sleeps and this list is not exhaustive. We’re shaping industry trends and expanding our offering all the time. Our commercial focus is acquisition, engagement and conversion.</p>
                    </div>
                    <!-- title -->
                </div>
                <!-- title-sec -->
                <ul class="portfolio-list">
                    <li>
                        <a href="javascript:void(0)" class="filter-button active" data-filter="all">All</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="filter-button" data-filter="website">Website</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="filter-button" data-filter="app">App</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="filter-button" data-filter="productdesign">Product Design</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="filter-button" data-filter="logo">Logo</a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter website">
                        <div class="gallery_product" style="background-image: url(assets/images/portfolio1.png);">
                            <div class="content-sec">
                                <small>Website</small>
                                <h4>
                                    <a href="portfolio-single.html">Xenia</a>
                                </h4>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter app">
                        <div class="gallery_product" style="background-image: url(assets/images/portfolio2.png);">
                            <div class="content-sec">
                                <small>Logo</small>
                                <h4>
                                    <a href="portfolio-single.html">Vista Print</a>
                                </h4>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter website">
                        <div class="gallery_product" style="background-image: url(assets/images/portfolio3.png);">
                            <div class="content-sec">
                                <small>App Design</small>
                                <h4>
                                    <a href="portfolio-single.html">Book WeGo</a>
                                </h4>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter productdesign">
                        <div class="gallery_product" style="background-image: url(assets/images/portfolio4.png);">
                            <div class="content-sec">
                                <small>Website</small>
                                <h4>
                                    <a href="portfolio-single.html">Super<br>Fly Honey</a>
                                </h4>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter logo">
                        <div class="gallery_product" style="background-image: url(assets/images/portfolio5.png);">
                            <div class="content-sec">
                                <small>App Design</small>
                                <h4>
                                    <a href="portfolio-single.html">Nataliamav</a>
                                </h4>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter app">
                        <div class="gallery_product" style="background-image: url(assets/images/portfolio6.png);">
                            <div class="content-sec">
                                <small>Website</small>
                                <h4>
                                    <a href="portfolio-single.html">Xenia</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container -->
        </div>
        <!-- portfolio-wrap -->
        <div class="contact-us section" style="background-image: url('assets/images/contactus-bg.jpg');">
            <div class="container">
                <div class="title-sec">
                    <div class="container">
                        <div class="title" data-aos="zoom-out-down" data-aos-duration="1000">
                            <h3>Contact Us</h3>
                        </div>
                        <div class="content" data-aos="zoom-out-down" data-aos-duration="1100">
                            <p>Gretna helps in building and growing your brand further with creative, data-driven, tech-focused strategies that <br> enable you to meet your business goals.</p>
                        </div>
                    </div>
                    <!-- container -->
                </div>
                <!-- title-sec -->
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <input class="firstCap form-control" type="text" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Your E-mail">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <button type="submit" value="submit">Send message</button>
                    </div>
                </form>
            </div>
            <!-- container -->
        </div>
        <!-- contact-us -->
    </section>
    <!-- ourservices-single-wrap -->
</div>
<!-- main -->