<footer class="footer-wrapper">
    <div class="footer-top">
        <div class="container">
            <div class="chat-sec">
                <a href="#">
                    <img src="assets/images/chat.png" alt="chat" />
                </a>
            </div>
            <div class="footer-sec column-1">
                <div class="footer-logo">
                    <a href="#">
                        <img src="assets/images/logo.png" alt="logo" />
                    </a>
                </div>
                <div class="footer-content">
                    <p>At gretna. we are focused on enhancing the value of your business through our innovative and economic mobile app and website design solutions. We offer solutions that give you a competitive edge in the online market and a stronger brand image. </p>
                </div>
            </div>
            <div class="footer-sec column-2">
                <h4>Quick Nav</h4>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
               </ul>
            </div>
            <div class="footer-sec column-3">
                <h4>Get in Touch</h4>
                <ul>
                    <li>
                        <figure>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </figure>
                        <div class="content">
                            <address>Lorem ipsume dummy 1120 Georgetown Drive Charlotte, NC 28213, New York</address>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </figure>
                        <div class="content">
                            <a href="mailto:info@gretna.com">info@gretna.com</a>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                        </figure>
                        <div class="content">
                            <a href="tel:9143581782">(914) 358-1782</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer-sec column-4">
                <div class="social-share">
                    <h4>Recent Posts</h4>
                    <ul>
                        <li>
                            <figure style="background-image: url(assets/images/post1.png);"></figure>
                            <h5>
                                <a href="#">AdChoices program reports higher compliance</a>
                            </h5>
                        </li>
                        <li>
                            <figure style="background-image: url(assets/images/post2.png);"></figure>
                            <h5>
                                <a href="#">AdChoices program reports higher compliance</a>
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- footer-top -->
    <div class="footer-bottom">
        <div class="container">
            <span class="copyright">&copy; 2019 gretna. Powered By <a href="#">iMark Infotech</a></span>
        </div><!-- container -->
    </div><!-- footer-bottom -->
</footer><!-- footer-wrapper -->
