<section class="inner-banner-wrapper" style="background-image: url('assets/images/inner-banner.jpg');">
    <div class="container">
        <div class="banner-content">
            <h2>Our Services</h2>
        </div>
    </div>
    <!-- container -->
</section>
<!--inner- banner-wrapper -->
<div class="main">
    <section class="our-services-wrap ourservices section">
        <div class="container">
            <div class="title-sec">
                <small>WHAT WE DO</small>
                <h3>Our Services</h3>
                <p>We don’t just develop apps and US Appers is a design and development agency specializing in mobile and web applications <br> that meet the specific needs of your unique users. </p>
            </div>
            <!-- title-sec -->
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service_grid">
                        <figure>
                            <a href="/ourservicessingle">
                                <img src="assets/images/service1.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="/ourservicessingle">Web Development</a>
                        </h5>
                        <p>Sophisticated, customer-focused applications for smartphones, tablets, wearables – and whatever’s next</p>
                        <div class="read-more-icon">
                            <a href="ourservicessingle">
                                <figure>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792
                                                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083
                                                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z
                                                    "/>
                                            </g>
                                        </g>
                                    </svg>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service_grid">
                        <figure>
                            <a href="/ourservicessingle">
                                <img src="assets/images/service2.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="/ourservicessingle">Mobile Development</a>
                        </h5>
                        <p>We thoroughly understand your business cycle to engage your viewers with our captivating iOS and Android app solutions.</p>
                        <div class="read-more-icon">
                            <a href="/ourservicessingle">
                                <figure>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792
                                                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083
                                                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z
                                                    "/>
                                            </g>
                                        </g>
                                    </svg>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service_grid">
                        <figure>
                            <a href="/ourservicessingle">
                                <img src="assets/images/service3.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="/ourservicessingle">App Prototyping</a>
                        </h5>
                        <p>We design functional web and mobile app wireframes and prototypes to envision and forge your ideas.</p>
                        <div class="read-more-icon">
                            <a href="/ourservicessingle">
                                <figure>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792
                                                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083
                                                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z
                                                    "/>
                                            </g>
                                        </g>
                                    </svg>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service_grid">
                        <figure>
                            <a href="/ourservicessingle">
                                <img src="assets/images/service4.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="/ourservicessingle">Iphone</a>
                        </h5>
                        <p>Sophisticated, customer-focused applications for smartphones, tablets, wearables – and whatever’s next</p>
                        <div class="read-more-icon">
                            <a href="/ourservicessingle">
                                <figure>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792
                                                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083
                                                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z
                                                    "/>
                                            </g>
                                        </g>
                                    </svg>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service_grid">
                        <figure>
                            <a href="/ourservicessingle">
                                <img src="assets/images/service5.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="/ourservicessingle">Android</a>
                        </h5>
                        <p>We thoroughly understand your business cycle to engage your viewers with our captivating iOS and Android app solutions.</p>
                        <div class="read-more-icon">
                            <a href="/ourservicessingle">
                                <figure>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792
                                                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083
                                                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z
                                                    "/>
                                            </g>
                                        </g>
                                    </svg>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="service_grid">
                        <figure>
                            <a href="/ourservicessingle">
                                <img src="assets/images/service6.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="/ourservicessingle">UI/UX PHP I .NET I AJAX</a>
                        </h5>
                        <p>We design functional web and mobile app wireframes and prototypes to envision and forge your ideas.</p>
                        <div class="read-more-icon">
                            <a href="/ourservicessingle">
                                <figure>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792
                                                    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083
                                                    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z
                                                    "/>
                                            </g>
                                        </g>
                                    </svg>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- our-services-wrap -->
    <section class="wemakeite-wrap section" style="background-image: url(assets/images/wemakeit.jpg)">
        <div class="container">
            <div class="figure-sec">
                <img src="assets/images/computer.png" alt="featured-thumb" />
            </div>
            <div class="content-sec">
                <div class="title-sec">
                    <small>WE MAKE IT</small>
                    <h3>We’re Gretna Company<br>Creative & Interactive</h3>
                    <p>Use of creativity by agencies is “unexpected” because so much ad- <br> vertising today is expected. This will capture attention of audiences, <br>therefore the message is likely to get through.</p>
                </div>
                <!-- title-sec -->
                <div class="our-solution-bar">
                    <ul class="list-inline bottom-icon-section">
                        <li>
                            <div class="border-sec">
                                <div id="progress" data-dimension="150" data-text="97%" data-fontsize="22" data-percent="97" data-fgcolor="#ff6a1e" data-bgcolor="#e7e7e7" data-width="2" data-bordersize="2" data-animationstep="2"></div>
                            </div>
                            <p>Web Development</p>
                        </li>
                        <li>
                            <div class="border-sec">
                                <div id="progress1" data-dimension="150" data-text="85%" data-fontsize="22" data-percent="85" data-fgcolor="#ff6a1e" data-bgcolor="#e7e7e7" data-width="2" data-bordersize="2" data-animationstep="2"></div>
                            </div>
                            <p>Mobile Development</p>
                        </li>
                        <li>
                            <div class="border-sec">
                                <div id="progress2" data-dimension="150" data-text="90%" data-fontsize="22" data-percent="90" data-fgcolor="#ff6a1e" data-bgcolor="#e7e7e7" data-width="2" data-bordersize="2" data-animationstep="2"></div>
                            </div>
                            <p>App Prototyping</p>
                        </li>
                    </ul>
                </div><!-- our-solution-bar -->
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- wemakeit-wrap -->
</div>
<!-- main -->